*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.TestMemo{
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid black;
}