.table{
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  border-collapse: collapse;
}
.table thead, 
.table tbody{
  width: 100%;
}
.table tbody tr{
  box-sizing: content-box;
  border-top: 1px solid #333;
}
.table th{
  min-width: 80px;
}
.table td{
  max-width: 200px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  border: none;
}
.table td:hover{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: normal;
}
