.three-layout{
  display: flex;
  height: 100%;
  border: 5px solid black;
}
.three-layout .aside-left{
  border: 2px solid rgb(192, 15, 15);
  order: 1;
}
.three-layout .main{
  border: 5px solid rgb(124, 23, 119);
  flex: 1;
  order: 2;
}
.three-layout .aside-right{
  border: 5px solid rgb(29, 172, 48);
  order: 3;
}